.footers {
    display: flex;
    justify-content: space-around;    
    align-items: center;
    background-color: black;
    height: 200px;
   
   
}
.footers img {
    width: 150px;
   
   
}
.redSocial{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;    
}

.phone {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

